fastapi[standard] == 0.112.0
fastapi-pagination == 0.12.26 # I will use this integration since I have very little time for the API
paho-mqtt == 2.1.0 # Latest stable release
psycopg == 3.2.1
pydantic == 2.8.2
sqlalchemy == 2.0.32
sqlmodel == 0.0.21
GeoAlchemy2 == 0.15.2
